.public-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  backdrop-filter: blur(12px);
  background: rgba(0,0,0,0.25);

  color: white;
  z-index: 1000;
}

.nav-logo {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 4px;
  transition: 0.3s;
}

.nav-item:hover {
  opacity: 0.7;
}

/* ACTIVE LINK */
.nav-item.active {
  border-bottom: 2px solid white;
}

/* AUTH BUTTONS */

.nav-auth {
  display: flex;
  gap: 15px;
}

.login-btn {
  padding: 6px 18px;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.signup-btn {
  padding: 6px 18px;
  background: white;
  color: black;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}
