.theme-switch {
  width: 60px;
  height: 30px;
  background: #ddd;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background 0.3s ease;
}

.switch-circle {
  width: 26px;
  height: 26px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.switch-circle.dark {
  transform: translateX(30px);
}
