:root {

  --primary-gradient: linear-gradient(135deg,#6366f1,#7c3aed);

  --bg-gradient: linear-gradient(
    135deg,
    #eef2ff,
    #f5f3ff
  );

  --glass-bg: rgba(255,255,255,0.65);
  --glass-border: rgba(255,255,255,0.8);

  --card-shadow: 0 8px 22px rgba(0,0,0,0.08);

  --text-dark: #111827;
  --text-light: #6b7280;

  --danger: #ef4444;
}
